{{ $key := .Get "key" }}
{{ $x := .Get "x" }}
{{ $y_list := .Get "y" }}
{{ $y_range_list := .Get "yRange" }}
{{ $y_range_size := split (.Get "ySize") "," }}
{{ $range_x := .Get "xDomain" }}
{{ $range_y := .Get "yDomain" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
{{ $color := .Get "color" }}
{{ $align := .Get "align" }}
{{ $ytype := .Get "yType" }}
{{ $xtype := .Get "xType" }}
{{ $colors := split (.Get "colors") "," }}

{{ $data := newScratch }}

{{ range (split $y_list ",") }}
  {{ $key_list := (shuffle (slice "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s" "t" "u" "v" "w" "x" "y" "z")) }}
  {{ $key := "" }}
  {{ range first 10 $key_list }}
    {{ $key = printf "%s" $key | printf "%s%s" . | printf "%s" }}
  {{ end }}
  {{ $data.SetInMap "y" $key . }}
{{ end }}

{{ if ne $y_range_list "" }}
{{ range (split $y_range_list ",") }}
  {{ $key_list := (shuffle (slice "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s" "t" "u" "v" "w" "x" "y" "z")) }}
  {{ $key := "" }}
  {{ range first 10 $key_list }}
    {{ $key = printf "%s" $key | printf "%s%s" . | printf "%s" }}
  {{ end }}
  {{ $data.SetInMap "y_range" $key . }}
{{ end }}
{{ end }}

{{ $data.Set "color" 0 }}
<div class="content has-text-centered my-3">
  <div class="columns is-centered">
    <div class="column is-full">
      <figure class="d3_{{ $key }}"></figure>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-half">
      <fieldset class="is-half"> 
        {{ range $key, $val := ($data.Get "y") }}
        <input type="checkbox" style="accent-color: {{ index $colors ($data.Get "color") }};" name="{{ $key }}" value="{{ $key }}" id="check_{{ $key }}" checked>
        <label for="check_{{ $key }}">{{ $val }}</label>
        {{ $data.Add "color" 1 }}
        {{ end }}

        {{ range $key, $val := ($data.Get "y_range") }}
        <input type="checkbox" style="accent-color: {{ index $colors ($data.Get "color") }};" name="{{ $key }}" value="{{ $key }}" id="check_{{ $key }}" checked>
        <label for="check_{{ $key }}">{{ $val }}</label>
        <br>
        {{ $data.Add "color" 1 }}
        {{ end }}
      <fieldset>
      {{ $data.Set "range_index" 0 }}
      {{ if ne $y_range_list "" }}
        {{ range $k, $v := ($data.Get "y_range") }}
          {{ $data.Set "range" 0 }}
          <input type="range" min="0" max="{{ index $y_range_size ($data.Get "range_index") }}" value="0" id="range_{{ $k | safeJS }}">
          <label for="range_{{ $k }}">{{ $v }}</label>
          {{ $data.Add "range_index" 1 }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>

<script type="text/javascript">
{{ .Inner | safeJS }};

function LineChart_{{ $key | safeJS }}(data, {
  x = ([x]) => x, // given d in data, returns the (temporal) x-value
  y = ([, y]) => y, // given d in data, returns the (quantitative) y-value
  defined, // for gaps in data
  curve = d3.curveLinear, // method of interpolation between points
  marginTop = 20, // top margin, in pixels
  marginRight = 30, // right margin, in pixels
  marginBottom = 30, // bottom margin, in pixels
  marginLeft = 40, // left margin, in pixels
  width = {{ $width | safeJS }}, // outer width, in pixels
  height = {{ $height | safeJS }}, // outer height, in pixels
  xType = d3.{{ $xtype | safeJS }},//d3.scaleUtc, // the x-scale type
  xDomain = [{{ $range_x | safeJS }}], // [xmin, xmax]
  xRange = [marginLeft, width - marginRight], // [left, right]
  yType = d3.{{ $ytype | safeJS }}, // the y-scale type
  yDomain = [{{ $range_y | safeJS }}], // [ymin, ymax]
  yRange = [height - marginBottom, marginTop], // [bottom, top]
  yFormat, // a format specifier string for the y-axis
  yLabel, // a label for the y-axis
  color = "currentColor", // stroke color of line
  strokeLinecap = "round", // stroke line cap of the line
  strokeLinejoin = "round", // stroke line join of the line
  strokeWidth = 1.5, // stroke width of line, in pixels
  strokeOpacity = 1, // stroke opacity of line
} = {}) {

  // Construct scales and axes.
  const plotWidth = width - marginLeft - marginRight
  const plotHeight = height - marginTop - marginBottom

  const svgLine = d3.create("svg")
      .attr("width", width)
      .attr("height", height)
      .attr("viewBox", [0, 0, width, height])
      .attr("style", "max-width: 100%; height: auto; height: intrinsic;");

  var x = xType().domain(xDomain).range([0, plotWidth]);
  var y = yType().domain(yDomain).range([plotHeight, 0]);

  //var x = d3.scaleLog().domain(xDomain).range([0, plotWidth]);
  //var y = d3.scaleLinear().domain(yDomain).range([plotHeight, 0]); 

  var line = d3.line()
    .x(function(d, i) {
      return x(data['time'][i]);
    })
    .y(function(d, i) {
      return y(data['bp'][i]);
    });

  let plotGroup = svgLine.append("g")
    .attr("transform", "translate(" + marginLeft + "," + marginTop + ")")

  let g = plotGroup.append('g');

  var xAxis = d3.axisBottom().scale(x);
  g.append("g") //draw the x axis
    .attr("class", "axis")
    .attr("transform", "translate(" + marginLeft + "," + (plotHeight) + ")")
    .call(xAxis);

  var yAxis = d3.axisLeft().scale(y);
  g.append("g") //draw the y axis
    .attr("class", "axis")
    .attr("transform", "translate(" + marginLeft + ",0)")
    .call(yAxis);

  {{ $data.Set "color" 0 }}
  {{ range $ykey, $val := ($data.Get "y_range") }}
  function update_range_{{ $ykey | safeJS }}(res) {
    var valuerange_{{ (trim $ykey " ") | safeJS }} = d3.line()
      .x(function(d, i) { return x(data['{{ $x | safeJS }}'][i]); })
      .y(function(d, i) { console.log(res); return y(data['{{ (trim $val " ") | safeJS }}_'+res][i]); });

    g.append("path")      // Add the valueline2 path.
      .attr("class", "line_{{ (trim $ykey " ") | safeJS }}")
      .attr("fill", "none")
      .attr("stroke", {{ index $colors ($data.Get "color") }})
      .attr("stroke-width", 2)
      .attr("transform", "translate(" + marginLeft + ",0)")
      .attr("d", valuerange_{{ (trim $ykey " ") | safeJS }}(data['{{ $x | safeJS }}']));
    
    {{ $data.Add "color" 1 }}
  }
  LineChart_{{ $key | safeJS }}.update_range_{{ $ykey | safeJS }} = update_range_{{ $ykey | safeJS }};
  {{ end }}
  

  {{ range $key, $val := ($data.Get "y") }}
  var valueline_{{ (trim $key " ") | safeJS }} = d3.line()
    .x(function(d, i) { console.log(x(data['{{ $x | safeJS }}'][i])); return x(data['{{ $x | safeJS }}'][i]); })
    .y(function(d, i) { console.log(y(data['{{ (trim $val " ") | safeJS }}'][i])); return y(data['{{ (trim $val " ") | safeJS }}'][i]); });

  g.append("path")      // Add the valueline2 path.
    .attr("class", "line_{{ (trim $key " ") | safeJS }}")
    .attr("fill", "none")
    .attr("stroke", {{ index $colors ($data.Get "color") }})
    .attr("stroke-width", 2)
    .attr("transform", "translate(" + marginLeft + ",0)")
    .attr("d", valueline_{{ (trim $key " ") | safeJS }}(data['{{ $x | safeJS }}']));
    
    {{ $data.Add "color" 1 }}
  {{ end }}

  LineChart_{{ $key | safeJS }}.plotGroup = plotGroup;

  return svgLine.node();
}


{{ $key | safeJS }}_chart = LineChart_{{ $key | safeJS }}({{ $key | safeJS }}, {
  x: d => d.{{ $x | safeJS }},
  y: d => d.{{ $x | safeJS }},
  yLabel: "↑ Daily close ($)",
  width: 800,
  height: 500,
  color: {{ $color }}
})

d3.select(".d3_{{ $key }}").node().appendChild({{ $key | safeJS }}_chart);

{{ range $ykey, $val := ($data.Get "y") }}
d3.select("#check_{{ $ykey | safeJS }}").on("input", function(evend) {
  if (event.currentTarget.checked) {
    LineChart_{{ $key | safeJS }}.plotGroup.selectAll(".line_{{ (trim $ykey " ") | safeJS }}").style("opacity", 1);
  } else {
    LineChart_{{ $key | safeJS }}.plotGroup.selectAll(".line_{{ (trim $ykey " ") | safeJS }}").style("opacity", 0);
  }
});
{{ end }}

{{ range $ykey, $val := ($data.Get "y_range") }}
LineChart_{{ $key | safeJS }}.update_range_{{ $ykey | safeJS }}(0);
d3.select("#range_{{ $ykey | safeJS }}").on("input", function() {
    LineChart_{{ $key | safeJS }}.plotGroup.selectAll(".line_{{ (trim $ykey " ") | safeJS }}").remove();
    LineChart_{{ $key | safeJS }}.update_range_{{ $ykey | safeJS }}(this.value);
});
{{ end }}
</script>
