.schema-border {
  stroke: rgb(180, 142, 173);
  stroke-width: 0.25;
  font: 1pt osifont, mono;
}
.schema-outline {
  stroke: rgb(76, 86, 106);
  stroke-width: 0.35;
}
.schema-junction {
  stroke: rgb(76, 86, 106);
  fill: rgb(163, 190, 140);
  stroke-width: 0.25;
}
.schema-pin-decoration {
  stroke: rgb(163, 190, 140);
  fill: rgb(236, 239, 244);
  stroke-width: 0.25;
}
.no-connect {
  stroke: rgb(129, 161, 193);
  stroke-width: 0.2;
}
.schema-pin {
  stroke: rgb(76, 86, 106);
  stroke-width: 0.35;
}
.schema-wire {
  stroke: rgb(163, 190, 140);
  stroke-width: 0.25;
}
.schema-polyline {
  stroke: rgb(132, 0, 0);
  stroke-width: 0.1;
}
.fill-background {
  fill: rgb(229, 233, 240);
}
.fill-outline {
  fill: rgb(76, 86, 106);
}
.schema-property {
    font: 1.25pt osifont, mono;
    fill: rgb(94, 129, 172)
}
.schema-pin-name {
    font: 0.8pt osifont, sans-serif;
    fill: rgb(67, 76, 94)
}
.schema-netname {
    font: 0.8pt osifont, sans-serif;
    fill: rgb(67, 76, 94)
}
.schema-pin-number {
    font: 0.75pt osifont, sans-serif;
    fill: rgb(67, 76, 94)
}
.text-sheet {
    font: 1.8pt osifont, mono;
}
.text-title {
    font: 1.8pt osifont, mono;
    fill: rgb(180, 142, 173)
}
.text-subtitle {
    font: 1.8pt osifont, mono;
    fill: rgb(180, 142, 173)
}
.text-header {
    font: 2.5pt osifont, mono;
    fill: rgb(180, 142, 173)
}
.schema-label {
    font: 1.25pt osifont, mono;
    fill: rgb(94, 129, 172)
}
.schema-text {
    font: 1pt osifont, mono;
}
.schema-bus {
    stroke: rgb(129, 161, 193);
    stroke-width: 0.25;
}
.schema-bus-entry {
    stroke: rgb(129, 161, 193);
    stroke-width: 0.18;
}
.not-found {
    stroke: red;
    stroke-width: 0.1;
}
.opaque {
    stroke-opacity: .5;
    fill-opacity: .5;
}

.test {
  stroke: rgb(255,165,0);
}







.anchor {
  stroke: rgb(255, 38, 226);
}
.aux_items {
  stroke: rgb(255, 255, 255);
}
.B_Adhes {
  stroke: rgb(0, 0, 132);
}
.B_CrtYd {
  stroke: rgb(255, 38, 226);
}
.B_Fab {
  stroke: rgb(88, 93, 132);
}
.B_Mask {
  stroke: rgba(2, 255, 238, 0.400);
}
.B_Paste {
  stroke: rgb(0, 194, 194);
}
.B_SilkS {
  stroke: rgb(232, 178, 167);
}
.background {
  stroke: rgb(0, 16, 35);
}
.Cmts_User {
  stroke: rgb(89, 148, 220);
}
.B_Cu {
  stroke: rgb(77, 127, 196);
}
.F_Cu {
  stroke: rgb(200, 52, 52);
}
 .in1 {
  stroke: rgb(127, 200, 127);
}
.in10 {
  stroke: rgb(237, 124, 51);
}
      .in11 {
stroke: rgb(91, 195, 235);
}
      .in12 {
stroke: rgb(247, 111, 142);
}
      .in13 {
stroke: rgb(167, 165, 198);
}
      .in14 {
stroke: rgb(40, 204, 217);
}
      .in15 {
stroke: rgb(232, 178, 167);
}
      .in16 {
stroke: rgb(242, 237, 161);
}
      .in17 {
stroke: rgb(237, 124, 51);
}
      .in18 {
stroke: rgb(91, 195, 235);
}
      .in19 {
stroke: rgb(247, 111, 142);
}
      .in2 {
stroke: rgb(206, 125, 44);
}
      .in20 {
stroke: rgb(167, 165, 198);
}
      .in21 {
stroke: rgb(40, 204, 217);
}
      .in22 {
stroke: rgb(232, 178, 167);
}
      .in23 {
stroke: rgb(242, 237, 161);
}
      .in24 {
stroke: rgb(237, 124, 51);
}
      .in25 {
stroke: rgb(91, 195, 235);
}
      .in26 {
stroke: rgb(247, 111, 142);
}
      .in27 {
stroke: rgb(167, 165, 198);
}
      .in28 {
stroke: rgb(40, 204, 217);
}
      .in29 {
stroke: rgb(232, 178, 167);
}
      .in3 {
stroke: rgb(79, 203, 203);
}
      .in30 {
stroke: rgb(242, 237, 161);
}
      .in4 {
stroke: rgb(219, 98, 139);
}
      .in5 {
stroke: rgb(167, 165, 198);
}
      .in6 {
stroke: rgb(40, 204, 217);
}
      .in7 {
stroke: rgb(232, 178, 167);
}
      .in8 {
stroke: rgb(242, 237, 161);
}
.in9 { 
  stroke: rgb(141, 203, 129);
}
.cursor {
stroke: rgb(255, 255, 255);
}
    .drc {
stroke: rgb(194, 194, 194);
}
.drc_error {
  stroke: rgba(215, 91, 107, 0.800);
}
.drc_exclusion {
  stroke: rgb(255, 255, 255);
}
drc_warning {
  stroke: rgba(255, 208, 66, 0.902); 
}
    .dwgs_user {
stroke: rgb(194, 194, 194);
}
    .eco1_user {
stroke: rgb(180, 219, 210);
}
    .eco2_user {
stroke: rgb(216, 200, 82);
}
.Edge_Cuts {
    stroke: rgb(208, 210, 205);
}
.F_Adhes {
    stroke: rgb(132, 0, 132);
}
.F_CrtYd {
    stroke: rgb(255, 0, 245);
}
.F_Fab {
    stroke: rgb(175, 175, 175);
}
.F_Mask {
  stroke: rgba(216, 100, 255, 0.400);
}
.F_Paste {
  stroke: rgba(180, 160, 154, 0.902);
}
.F_SilkS {
 stroke: rgb(242, 237, 161);
}
.footprint_text_back {
  font: 0.8pt osifont, Helvetica, Arial, sans-serif;
  fill: rgb(0, 0, 132);
}
.footprint_text_front {
  font: 0.8pt osifont, Helvetica, Arial, sans-serif;
  fill: rgb(194, 194, 194);
}
.footprint_text_invisible {
  font: 0.8pt osifont, Helvetica, Arial, sans-serif;
  fill: rgb(132, 132, 132);
}
.grid {
  stroke: rgb(132, 132, 132);
}
.grid_axes {
  stroke: rgb(194, 194, 194);
}
.margin {
  stroke: rgb(255, 38, 226);
}
.microvia {
  stroke: rgb(0, 132, 132);
}
.no_connect {
  stroke: rgb(0, 0, 132);
}
.pad_back {
  stroke: rgb(77, 127, 196);
  stroke-width: 0.25;
}
.pad_front {
  stroke: rgb(200, 52, 52);
  stroke-width: 0.25;
}
.pad_plated_hole {
  stroke: rgb(194, 194, 0);
  stroke-width: 0.25;
}
.pad_through_hole {
  stroke: rgb(227, 183, 46);
  stroke-width: 0.25;
}
.plated_hole {
  stroke: rgb(26, 196, 210);
}
.ratsnest {
  stroke: rgba(245, 255, 213, 0.702);
}
.select_overlay {
  stroke: rgb(4, 255, 67);
}
.through_via {
  stroke: rgb(236, 236, 236);
}
.user_1 {
  stroke: rgb(194, 194, 194);
}
    .user_2 {
stroke: rgb(89, 148, 220);
}
    .user_3 {
stroke: rgb(180, 219, 210);
}
    .user_4 {
stroke: rgb(216, 200, 82);
}
    .user_5 {
stroke: rgb(194, 194, 194);
}
    .user_6 {
stroke: rgb(89, 148, 220);
}
    .user_7 {
stroke: rgb(180, 219, 210);
}
    .user_8 {
stroke: rgb(216, 200, 82);
}
    .user_9 {
stroke: rgb(232, 178, 167);
}
    .via_blind_buried {
stroke: rgb(187, 151, 38);
}
    .via_hole {
stroke: rgb(227, 183, 46);
}
    .via_micro {
stroke: rgb(0, 132, 132);
}
    .via_through {
stroke: rgb(236, 236, 236);
}
